<a href="https://colab.research.google.com/github/Syarafina-Dewi/data-analytics/blob/main/Topic_3_Python_Structure_%26_Data_Type.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Topic 3 - Python Structure & Data Type Assignment

# Data Type Declaration

1. > Create an empty variable

In [ ]:
#Code goes here
var = ""
var

''

2. > Create a variable containing your name

In [ ]:
#Code goes here
Name = "Syarafina Dewi"
Name

'Syarafina Dewi'

3. > Create a list of 5 items you can find in the classroom

In [ ]:
#Code goes here
Item = ["book", "ruller", "pencil", "white board", "eraser"]
Item

['book', 'ruller', 'pencil', 'white board', 'eraser']

4. > Create a dictionary containing 2 keys and value

In [ ]:
#Code goes here
new_dict = {
    "Name": ["Fina", "Ari"],
    "Age": [21, 29]
}
new_dict

{'Name': ['Fina', 'Ari'], 'Age': [21, 29]}

# Basic Data Operation

You sold 20 pieces of electronics at the price of 12000. The customer gets a total discount of 10%.

Below are those variables:

1.   price=12000
2.   quantity_sold=20
3.   discount=10%


Using Python code, write the code the find the total money that the customer to pay.

In [ ]:
#Code goes here
price=12000
quantity_sold=20
discount=0.1

total=(price*quantity_sold)-((price*quantity_sold)*discount)
total

216000.0

# List Data Operation

5. > Follow the instructions in the code blocks

In [ ]:
# Create list of countries in the world (total 7 countries)

#Code goes here
countries=["Indonesia","South Korea","Japan","China","Singapore","Australia","Canada"]
countries

['Indonesia',
 'South Korea',
 'Japan',
 'China',
 'Singapore',
 'Australia',
 'Canada']

In [ ]:
# Get 4 countries from the first index of the list

#Code goes here
countries[0:4]

['Indonesia', 'South Korea', 'Japan', 'China']

In [ ]:
# Append new country to the list

#Code goes here
countries.append("America")
countries

['Indonesia',
 'South Korea',
 'Japan',
 'China',
 'Singapore',
 'Australia',
 'Canada',
 'America']

In [ ]:
# Drop one country from the list

#Code goes here
countries.remove("America")
countries

['Indonesia',
 'South Korea',
 'Japan',
 'China',
 'Singapore',
 'Australia',
 'Canada']

In [ ]:
# Get country in the last index

#Code goes here
countries[-1]

'Canada'

# Dictionary Data Operation

6. >  Follow the instructions below

In [ ]:
# Given the dictionary below

customer={
    "name":['Dio','Eka','Wayu','Riki'],
    "age":[20,19,24,39],
    "gender":[1,0,0,1],
    "membership":['Platinum','Gold','Silver','Silver']
}

In [ ]:
# Print all keys in customer

#Code goes here
customer.keys()

dict_keys(['name', 'age', 'gender', 'membership'])

In [ ]:
# Print all customer names

#Code goes here
customer["name"]

['Dio', 'Eka', 'Wayu', 'Riki']

In [ ]:
# Print the first customer name

#Code goes here
customer["name"][0]

'Dio'

In [ ]:
# Drop "age" key from the dictionary

#Code goes here
customer.pop("age")
customer

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'],
 'gender': [1, 0, 0, 1],
 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}

In [ ]:
# Replace customer gender list value
# gender 1 => Male
# gender 0 => Female 


#Code goes here
customer ["gender"] = ["Male","Female","Female","Male"]
customer

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'],
 'gender': ['Male', 'Female', 'Female', 'Male'],
 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}