<a href="https://colab.research.google.com/github/Syarafina-Dewi/data-analytics/blob/main/Topic_4_Loop_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
number=10
if(number>5):
  print('Number is hiher than 5')

Number is hiher than 5

In [ ]:
number=-10

if(number>5):
  print('Number is higer than 5')
else:
  print('Number is not higer than 5')

Number is not higer than 5

In [ ]:
a=10

if(a>5 and a>20):
  print("yes")
else:
  print("no")

no

In [ ]:
drinks=["coffee","tea","juice"]
drinks

['coffee', 'tea', 'juice']

In [ ]:
#apakah ada tea di drinks list?
"tea" in drinks

True

In [ ]:
if("milk" in drinks):
  print("we do have milk in stock")
else:
  print("No, we don't have any")

No, we don't have any

Loop/Iteration

In [ ]:
for i in range(14):
  print(i+1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [ ]:
i=0

In [ ]:
#while loop
while(i<5):
  print(i)
  i=i+1

In [ ]:
#for loop
#range
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#print 7-10
for i in range(7,11):
  print(i)

7
8
9
10

In [ ]:
for i in range(-7,1):
  print(i)

-7
-6
-5
-4
-3
-2
-1
0

In [ ]:
for i in range(-20,20,4):
  print(i)

-20
-16
-12
-8
-4
0
4
8
12
16

In [ ]:
for i in range(20,0,-2):
  print(i)

20
18
16
14
12
10
8
6
4
2

Foor Loop - List

In [ ]:
fruits=['apple','orange','banana']

for fruit in fruits:
  print(fruit)

apple
orange
banana

In [ ]:
basket =['apple','orange','banana','watermelon','apple','apple']
totalapple=0

for fruit in basket:
  if(fruit=="apple"):
    totalapple=totalapple+1

print(totalapple)

3

In [ ]:
exam_scores=[50,55,85,70,90]

for exam_score in exam_scores:
  if(exam_score>70):
    print(exam_score)

85
90

In [ ]:
numbers = [4,5,10,20,40,60,80]
new_list = []

for number in numbers:
    if(number > 10):
        new_list.append(number)
print(new_list)

[20, 40, 60, 80]

In [ ]:
students={
    "Name":['Bjorka','Rifki','Citra'],
    "Age":['18','19','20'],
    "Hobby":['Ngoding','Masak','Makan']
}
students

{'Name': ['Bjorka', 'Rifki', 'Citra'],
 'Age': ['18', '19', '20'],
 'Hobby': ['Ngoding', 'Masak', 'Makan']}

In [ ]:
for x in students:
  print(x)

Name
Age
Hobby

In [ ]:
for x in students:
  #return semua key jadi x
  print(students[x])

['Bjorka', 'Rifki', 'Citra']
['18', '19', '20']
['Ngoding', 'Masak', 'Makan']

In [ ]:
for hobby in students['Hobby']:
  print(hobby)

Ngoding
Masak
Makan

In [ ]:
for hobby in students['Hobby']:
  if(hobby=="Masak"):
    print("ada yang hobi masak!")

ada yang hobi masak!

In [ ]:
for hobby in students['Hobby']:
  if(hobby=="jalan-jalan"):
    print("ada yang hobi jalan jalan!")
  else:
    print("tidak ada yang suka jalan jalan")

tidak ada yang suka jalan jalan
tidak ada yang suka jalan jalan
tidak ada yang suka jalan jalan

In [ ]:
students['Hobby'].append(1)
students

{'Name': ['Bjorka', 'Rifki', 'Citra'],
 'Age': ['18', '19', '20'],
 'Hobby': ['Ngoding', 'Masak', 'Makan', 1]}

In [ ]:
a=20

if(a>30):
  print("Benar")
elif(a>40):
  print("Benar juga")
elif(a==19):
  print("Benar juga")
else:
  print("Salah")

Salah

Function

In [ ]:
def printmyname():
  print("My name is Wandy")

print("Hello world!")

Hello world!

In [ ]:
def printmyname():
  print("My name is Wandy")
  print("HBU?")

printmyname()

My name is Wandy
HBU?

Function with parameter

In [ ]:
def print_this(x):
  print(x)

print_this("Wandy")

Wandy

Function with multiple parameters

In [ ]:
def print_name_age(x,y):
  print("Name: ",x)
  print("Age: ",y)

print_name_age("Wandy", 12)

Name:  Wandy
Age:  12

In [ ]:
def print_name(age,name="Fernando"):
  print(age)
  print(name)

print_name(12)

12
Fernando

In [ ]:
print_name(12,"Bjorka")

12
Bjorka

In [ ]:
def penjumlahan(a,b):
  print(a+b)

penjumlahan(10,20)

30

In [ ]:
def penjumlahan(a,b):
  a=int(a)
  b=int(b)
  print(a+b)

penjumlahan(10,"20")

30

In [ ]:
def division(a,b):
  result=float(a)/float(b) #return=mengembalikan nilai ke variable
  return result

result=division(10,"2.1")

result

4.761904761904762

In [ ]:
def division(a,b):
  result=a/b #return=mengembalikan nilai ke variable
  return result

result=division(10,2)

result

5.0

In [ ]:
def print_def():
  print("def")

for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
def hitung(r):
  phi=22/7
  return phi*r*r

luas=hitung(4)
print(luas)

50.285714285714285

In [ ]:
def luas_lingkaran(r, pi = 3.14):
    print("Luas lingkaran =", pi*r*r)

In [ ]:
def circle_area(radius):
	return 3.141592 * (radius**2)

In [ ]:
def hitung_luas_lingkaran(r):
  result=3.14*r*r
  return result

hitung_luas_lingkaran(7)

153.86

In [ ]:
all_radius=[12,20,40,50]

for radius in all_radius:
  res=hitung_luas_lingkaran(radius)
  print(res)

452.15999999999997
1256.0
5024.0
7850.0

In [ ]:
result_list=[]
for radius in range(100):
  res=hitung_luas_lingkaran(radius)
  result_list.append(res)

print(result_list)

[0.0, 3.14, 12.56, 28.259999999999998, 50.24, 78.5, 113.03999999999999, 153.86, 200.96, 254.34, 314.0, 379.94, 452.15999999999997, 530.66, 615.44, 706.5, 803.84, 907.46, 1017.36, 1133.54, 1256.0, 1384.74, 1519.76, 1661.06, 1808.6399999999999, 1962.5, 2122.64, 2289.06, 2461.76, 2640.7400000000002, 2826.0, 3017.54, 3215.36, 3419.46, 3629.84, 3846.5, 4069.44, 4298.66, 4534.16, 4775.9400000000005, 5024.0, 5278.34, 5538.96, 5805.860000000001, 6079.04, 6358.500000000001, 6644.24, 6936.26, 7234.5599999999995, 7539.14, 7850.0, 8167.14, 8490.56, 8820.26, 9156.24, 9498.500000000002, 9847.04, 10201.86, 10562.960000000001, 10930.340000000002, 11304.0, 11683.94, 12070.16, 12462.660000000002, 12861.44, 13266.5, 13677.84, 14095.46, 14519.36, 14949.539999999999, 15386.0, 15828.74, 16277.76, 16733.06, 17194.64, 17662.5, 18136.64, 18617.06, 19103.760000000002, 19596.74, 20096.0, 20601.54, 21113.36, 21631.46, 22155.84, 22686.500000000004, 23223.440000000002, 23766.66, 24316.16, 24871.940000000002, 25434.000000000004, 26002.34, 26576.96, 27157.860000000004, 27745.04, 28338.5, 28938.239999999998, 29544.26, 30156.56, 30775.140000000003]

In [ ]:
def calculate(a,b):
  addition=(a+b)
  multiplication=(a*b)
  find_max=max(a,b)
  return addition, multiplication, find_max #dikasih return untuk pengganti print

calculate(2,6)

(8, 12, 6)

In [ ]:
def calculate(a,b):
  addition=(a+b)
  multiplication=(a*b)
  find_max=max(a,b)

  print("Addition: ",addition)
  print("Multiplication: ",multiplication)
  print("Maximun: ",find_max)

calculate(2,6)

Addition:  8
Multiplication:  12
Maximun:  6